extends layout

block content
    div.small-9.main.columns
        div.login-form
            div.small-6.small-offset-5
                h3.title Admin Login:
                form(method="POST" action="/admin" class="login")
                    div
                        label Password:
                        input(type="password" name="password" placeholder="Enter your password")
                    input(type="submit" value="Go" class="button tiny right")
