doctype html
html
    head
        link(rel="stylesheet", href="/css/foundation.css")
        link(rel="stylesheet", href="/css/main.css")
        title Management page
    body
        div.small-3.rail.columns
        block content
