extends layout

block content
  div.small-3.rail.columns.
  div.small-9.main.columns
      div.login-form
          h3.title Login:
              form(method="POST" action="#" class="login")
                  div.small-6.small-offset-3
                      div
                          label Username:
                          input(type="text" name="username" placeholder="Enter your username")
                      div
                          label Password:
                          input(type="password" name="password" placeholder="Enter your password")
                      input(type="submit" value="Go" class="button tiny right")
