extends layout

block content
    div.small-12.columns.repos
        table
            thead
                th
                    h3 Your Repositories
            each repo in repos
                tr.repo
                    td
                        h3 #{repo.name}
                        p #{repo.description}

