extends layout

block content
    div.small-9.columns.repos
        table
            each repo in repos
                tr
                    td
                        h1 #{repo.name}
                        p #{repo.description}

