html {
  height: 100%;
}

body {
    color: #202020;
    height: 100%;
}

.main {
    background-color: #FFF;
}

.rail {
    background-color: #FAFAFA;
    height: 100%;
}

.title {
  text-align: center;
}

.login {
  margin-top: 30px;
}
